! Set font size and family
XTerm*faceName: JetBrainsMonoNL Nerd Font
XTerm*faceSize: 12
XTerm*faceAntialias: true
XTerm*faceBold: JetBrainsMonoNL Nerd Font

! Enable True Color (24-bit color support)
XTerm*termName: xterm-256color
XTerm*allowColorOps: true
XTerm*dynamicColors: true

! Colorscheme (Dracula-inspired)
XTerm*foreground: white
! XTerm*background: rgba:0000/0000/0000/dddd   ! Transparency with picom
XTerm*color0:  #000000
XTerm*color1:  #ff5555
XTerm*color2:  #50fa7b
XTerm*color3:  #f1fa8c
XTerm*color4:  #bd93f9
XTerm*color5:  #ff79c6
XTerm*color6:  #8be9fd
XTerm*color7:  #d0d0d0
XTerm*color8:  #6272a4
XTerm*color9:  #ff5555
XTerm*color10: #50fa7b
XTerm*color11: #f1fa8c
XTerm*color12: #bd93f9
XTerm*color13: #ff79c6
XTerm*color14: #8be9fd
XTerm*color15: #ffffff

! Cursor customization
XTerm*cursorBlink: true
XTerm*cursorColor: #ffcc00
XTerm*cursorShape: block
XTerm*pointerColor: #f8f8f2
XTerm*cursorUnderline: true

! Scrollback buffer
XTerm*saveLines: 5000
XTerm*scrollBar: true
XTerm*rightScrollBar: true
XTerm*scrollTtyOutput: false
XTerm*scrollTtyKey: true

! Performance improvements
XTerm*fastScroll: true
XTerm*jumpScroll: true

! Input behavior
XTerm*boldMode: true
XTerm*utf8: 2
XTerm*allowBoldFonts: true 
XTerm*metaSendsEscape: true
XTerm*disallowedWindowOps: 20,21,SetXprop
XTerm*loginShell: true

! Remove window border
! XTerm*borderWidth: 0
