@define-color accent_color #8A2BE2;
@define-color accent_color_light #9966CC;
@define-color success_color #6A5ACD;
@define-color warning_color #9400D3;
@define-color error_color #C71585;
@define-color unfocused_selected_bg #483D8B;


@define-color borders_breeze #3c3c3c;
@define-color content_view_bg_breeze #000000;
@define-color error_color_backdrop_breeze @error_color;
@define-color error_color_breeze @error_color;
@define-color error_color_insensitive_backdrop_breeze #630a42;
@define-color error_color_insensitive_breeze #630a42;
@define-color insensitive_base_color_breeze #000000;
@define-color insensitive_base_fg_color_breeze #505050;
@define-color insensitive_bg_color_breeze #000000;
@define-color insensitive_borders_breeze #141414;
@define-color insensitive_fg_color_breeze #505050;
@define-color insensitive_selected_bg_color_breeze #000000;
@define-color insensitive_selected_fg_color_breeze #505050;
@define-color insensitive_unfocused_bg_color_breeze #000000;
@define-color insensitive_unfocused_fg_color_breeze #505050;
@define-color insensitive_unfocused_selected_bg_color_breeze #000000;
@define-color insensitive_unfocused_selected_fg_color_breeze #505050;
@define-color link_color_breeze @accent_color_light;
@define-color link_visited_color_breeze #7a51a3;
@define-color success_color_backdrop_breeze @success_color;
@define-color success_color_breeze @success_color;
@define-color success_color_insensitive_backdrop_breeze #352d66;
@define-color success_color_insensitive_breeze #352d66;
@define-color theme_base_color_breeze #000000;
@define-color theme_bg_color_breeze #000000;
@define-color theme_button_background_backdrop_breeze #000000;
@define-color theme_button_background_backdrop_insensitive_breeze #000000;
@define-color theme_button_background_insensitive_breeze #000000;
@define-color theme_button_background_normal_breeze #000000;
@define-color theme_button_decoration_focus_backdrop_breeze @accent_color;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #451571;
@define-color theme_button_decoration_focus_breeze @accent_color;
@define-color theme_button_decoration_focus_insensitive_breeze #451571;
@define-color theme_button_decoration_hover_backdrop_breeze @accent_color;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #451571;
@define-color theme_button_decoration_hover_breeze @accent_color;
@define-color theme_button_decoration_hover_insensitive_breeze #451571;
@define-color theme_button_foreground_active_backdrop_breeze #eff0f1;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #505050;
@define-color theme_button_foreground_active_breeze #eff0f1;
@define-color theme_button_foreground_active_insensitive_breeze #505050;
@define-color theme_button_foreground_backdrop_breeze #eff0f1;
@define-color theme_button_foreground_backdrop_insensitive_breeze #505050;
@define-color theme_button_foreground_insensitive_breeze #505050;
@define-color theme_button_foreground_normal_breeze #eff0f1;
@define-color theme_fg_color_breeze #eff0f1;
@define-color theme_header_background_backdrop_breeze #000000;
@define-color theme_header_background_breeze #000000;
@define-color theme_header_background_light_breeze #000000;
@define-color theme_header_foreground_backdrop_breeze #eff0f1;
@define-color theme_header_foreground_breeze #eff0f1;
@define-color theme_header_foreground_insensitive_backdrop_breeze #eff0f1;
@define-color theme_header_foreground_insensitive_breeze #eff0f1;
@define-color theme_hovering_selected_bg_color_breeze @accent_color;
@define-color theme_selected_bg_color_breeze @accent_color;
@define-color theme_selected_fg_color_breeze #eff0f1;
@define-color theme_text_color_breeze #eff0f1;
@define-color theme_titlebar_background_backdrop_breeze #000000;
@define-color theme_titlebar_background_breeze #000000;
@define-color theme_titlebar_background_light_breeze #000000;
@define-color theme_titlebar_foreground_backdrop_breeze #7f8c8d;
@define-color theme_titlebar_foreground_breeze #eff0f1;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #7f8c8d;
@define-color theme_titlebar_foreground_insensitive_breeze #7f8c8d;
@define-color theme_unfocused_base_color_breeze #000000;
@define-color theme_unfocused_bg_color_breeze #000000;
@define-color theme_unfocused_fg_color_breeze #eff0f1;
@define-color theme_unfocused_selected_bg_color_alt_breeze @unfocused_selected_bg;
@define-color theme_unfocused_selected_bg_color_breeze @unfocused_selected_bg;
@define-color theme_unfocused_selected_fg_color_breeze #eff0f1;
@define-color theme_unfocused_text_color_breeze #eff0f1;
@define-color theme_unfocused_view_bg_color_breeze #000000;
@define-color theme_unfocused_view_text_color_breeze #505050;
@define-color theme_view_active_decoration_color_breeze @accent_color;
@define-color theme_view_hover_decoration_color_breeze @accent_color;
@define-color tooltip_background_breeze #000000;
@define-color tooltip_border_breeze #3c3c3c;
@define-color tooltip_text_breeze #eff0f1;
@define-color unfocused_borders_breeze #3c3c3c;
@define-color unfocused_insensitive_borders_breeze #141414;
@define-color warning_color_backdrop_breeze @warning_color;
@define-color warning_color_breeze @warning_color;
@define-color warning_color_insensitive_backdrop_breeze #4a0069;
@define-color warning_color_insensitive_breeze #4a0069;
